a {
    text-decoration: none;
    color:#FF9E11;
}

a:hover, a:active {
    color: #F44;
}

.navbar-form {
    border: 0px solid #FF9E11;
}


#head_nav {
    background-color: #FF9E11;
}

#nav_search {
    vertical-align: center;
}

.language {
    color: black;
}

#foot_nav {
    margin-top:60px;
    padding: 20px 0px;
    background-color: #FF9E11;
}

#footer {
    margin-top: 40px;
}